@define-color color1 #161616;
@define-color color2 #78a9ff;
@define-color text1  #ffffff;
@define-color color3 #252525;

* {
    border: none;
    border-radius: 0px;
    font-family: Terminess Nerd Font;
    font-size: 12px;
    min-height: 10px;   
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

window#waybar>box {
    margin: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.1);
	border-radius: 0px;
}

tooltip {
	background: @color1;
	border-radius: 9px;
	border-width: 2px;
	border-style: solid;
	border-color: @color3;
	}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @text1;
    /* animation: ws_normal 20s ease-in-out 1; */
}

#workspaces button.empty {
    border-radius: 9px;
	background-color: @color1;
}

#workspaces button.focused {
    color: @color1;
    background-color: @color2;
    border-radius: 9px;
    /* animation: ws_hover 20s ease-in-out 1; */
    /* transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682); */
}

#workspaces button.active {
    color: @color1;
    background-color: @color2;
    border-radius: 9px;
    /* animation: tb_active 20s ease-in-out 1; */
    /* transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682); */
}

#workspaces button.urgent {
    color: @color1;
    background-color: #9ec3c4;
    border-radius: 9px;
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 1);
	color: @color1;
	border-radius: 9px;
    /* animation: ws_hover 20s ease-in-out 1; */
    /* transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682); */
}

#load,
#battery, 
#custom-waypaper, 
#custom-hyprpicker, 
#custom-utils, 
#custom-power, 
#custom-screenshot, 
#language, 
#clock, 
#pulseaudio, 
#network, 
#workspaces, 
#mpris,
#power-profiles-daemon,
#tray {
    opacity: 1;
	background-color: @color1;
    color: @text1;
    margin: 4px 0px 4px 0px;
    padding: 2px 8px 2px 8px;
}

#workspaces {
    padding: 0px 5px 0px 5px;
    border-radius: 9px
}


#clock {
    color: @text1;
	border-radius: 9px 9px 9px 9px;
    margin-right: 10px;
}

#network {
	color: @text;
	border-radius: 9px 9px 9px 9px;
    margin-left: 10px
}

#pulseaudio {
	color: @text1;
	border-radius: 9px 9px 9px 9px;
    margin-right: 10px;
}

#mpris {
	color: @text1;
	border-radius: 9px 9px 9px 9px;
    margin-right: 10px;
    margin-left: 10px;
}

#tray {
    border-radius: 9px 9px 9px 9px;
    margin-right: 10px;
}

#tray menu {
   border-radius: 9px 9px 9px 9px;
   color: @text1;
   background-color: @color1;
	border-width: 2px;
	border-style: solid;
	border-color: @color3;
}

#custom-power {
    color: @text1;
    border-radius: 9px 9px 9px 9px;
    margin-right: 10px;
}

#custom-screenshot {
    color: @text1;
    border-radius: 9px 9px 9px 9px;
    margin-right: 10px;
}

#language {
    color: @text1;
    border-radius: 9px 9px 9px 9px;
    margin-left: 10px;
}

#load {
    color: @text1;
    border-radius: 9px 9px 9px 9px;
    margin-left: 10px;
}

#custom-utils {
    color: @text1;
    border-radius: 9px 9px 9px 9px;
    margin-left: 10px;
}

#custom-waypaper {
    color: @text1;
    border-radius: 9px 9px 9px 9px;
    margin-left: 10px;
}

#custom-hyprpicker {
    color: @text1;
    border-radius: 9px 9px 9px 9px;
    margin-left: 10px;
}

#group-utils{
    color: @text1;
}

#battery {
    color: @color2;
    margin-right: 10px;
	border-radius: 9px 9px 9px 9px;
}


#battery.charging {
    color: #9ec49f;
}

#battery.warning:not(.charging) {
    background-color: #c49ea0;
    color: @color1;
}

#battery.critical:not(.charging) {
    background-color: #c49ea0;
    color: @color1;
}

#power-profiles-daemon{
  color: @color2;
  margin-right: 10px;
	border-radius: 9px 9px 9px 9px;
}

#power-profiles-daemon.performance{
}
#power-profiles-daemon.balanced{
}
#power-profiles-daemon.power-saver{
    color: #9ec49f;
}
