@define-color color1 #161616;
@define-color color2 #78a9ff;
@define-color color3 #252525;
@define-color text1  #ffffff;

@define-color base00 #161616;
@define-color base01 #262626;
@define-color base02 #393939;
@define-color base03 #525252;
@define-color base04 #dde1e6;
@define-color base05 #f2f4f8;
@define-color base06 #ffffff;
@define-color base07 #08bdba;
@define-color base08 #3ddbd9;
@define-color base09 #78a9ff;
@define-color base0A #ee5396;
@define-color base0B #33b1ff;
@define-color base0C #ff7eb6;
@define-color base0D #42be65;
@define-color base0E #be95ff;
@define-color base0F #82cfff;

* {
    border: none;
    border-radius: 0px;
    font-family: Terminess Nerd Font;
    font-size: 12px;
    min-height: 10px;
}

window#waybar {
}

window#waybar > box {
    margin: 0px 0px 0px 0px;
    background: @color1;
    /* background-color: rgba(0, 0, 0, 1); */
    border-radius: 0px;
}

tooltip {
    background: @color1;
    border-radius: 9px;
    border-width: 2px;
    border-style: solid;
    border-color: @color3;
}

#workspaces button {
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @text1;
    background-color: @color3;
}

#workspaces button.empty {
    border-radius: 9px;
    background-color: @color3;
}

#workspaces button.focused {
    color: @color1;
    background-color: @color2;
    border-radius: 9px;
}

#workspaces button.active {
    color: @color1;
    background-color: @color2;
    border-radius: 9px;
}

#workspaces button.urgent {
    color: @color1;
    background-color: @color3;
    border-radius: 9px;
}

#workspaces button:hover {
    box-shadow: none; /* Remove predefined box-shadow */
    text-shadow: none; /* Remove predefined text-shadow */
    background: none; /* Remove predefined background color (white) */
    transition: none; /* Disable predefined animations */
    background-color: @text1;
    color: @color1;
    border-radius: 9px;
}

#backlight,
#battery,
#clock,
#custom-hyprpicker,
#custom-power,
#custom-screenshot,
#custom-utils,
#custom-waypaper,
#language,
#load,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#tray,
#workspaces {
    border-radius: 9px 9px 9px 9px;
    opacity: 1;
    color: @text1;
    margin: 4px 0px 4px 0px;
    padding: 2px 8px 2px 8px;
}

#backlight:hover,
#battery:hover,
#clock:hover,
#custom-hyprpicker:hover,
#custom-power:hover,
#custom-screenshot:hover,
#custom-utils:hover,
#custom-waypaper:hover,
#language:hover,
#power-profiles-daemon:hover,
#pulseaudio:hover {
    background-color: @color3;
}

#workspaces {
    padding: 0px 5px 0px 5px;
}

#clock {
}

#network {
    margin-left: 10px;
}

#pulseaudio {
    margin-right: 10px;
}

#backlight {
    margin-right: 10px;
}
#mpris {
    margin-right: 10px;
    margin-left: 10px;
}

#tray {
    margin-right: 10px;
}

#tray menu {
    color: @text1;
    background-color: @color1;
    border-width: 2px;
    border-style: solid;
    border-color: @color3;
}

#custom-power {
    margin-right: 10px;
    margin-left: 10px;
}

#custom-screenshot {
    margin-left: 10px;
}

#language {
    margin-left: 10px;
}

#language:active {
    margin-left: 10px;
}

#load {
    margin-left: 10px;
}

#custom-utils {
    margin-left: 10px;
}

#custom-waypaper {
    margin-left: 10px;
}

#custom-hyprpicker {
    margin-left: 10px;
}

#group-utils {
}

#battery {
    margin-right: 10px;
}

#battery.charging {
    color: #9ec49f;
}

#battery.warning:not(.charging) {
    background-color: #c49ea0;
    color: @color1;
}

#battery.critical:not(.charging) {
    background-color: #c49ea0;
    color: @color1;
}

#power-profiles-daemon {
    margin-right: 10px;
}

#power-profiles-daemon.performance {
    color: @base0A;
}
#power-profiles-daemon.balanced {
    color: @base0B;
}
#power-profiles-daemon.power-saver {
    color: @base0D;
}
