[Desktop Entry]
Version=1.0
Name=ChatGPT
Comment=ChatGPT
Exec=webapp-launch https://chatgpt.com
Terminal=false
Type=Application
Icon=/home/nick/.local/share/applications/icons/ChatGPT.png
StartupNotify=true
