themes {
    oxocarbon {
        fg "#FFFFFF"
        bg "#1B1B1B"
        black "#161616"
        red "#EE5396"
        green "#42BE65"
        yellow "#FF7EB6"
        blue "#33B1FF"
        magenta "#BE95FF"
        cyan "#3DDBD9"   
        white "#FFFFFF"  
        orange "#FFAB91"
    }
}
